langchain_openai 
langchain_core
langchain_community
python-dotenv
streamlit
langserve
fastapi
uvicorn
sse_starlette
bs4
pypdf
chromadb
faiss-cpu
wikipedia
langchain_groq
langchain_objectbox
ctransformers==0.2.27
sentence-transformers==2.2.2
pinecone-client==2.2.4
together